:root {
  --main-text-color: #00d4ff;
  --green-text-color: #00ffcc;
}
.clickable {
  cursor: pointer;
}
.red-text {
  color: #ff4d4f !important;
}
.warn-text {
  color: #ee592d !important;
}
.green-text {
  color: rgba(0, 228, 0, 1) !important;
}
